In [1]:
path = "C:\\Users\\UMUT\\Desktop\\lenso\\"

In [2]:
import pandas as pd
import numpy as np

In [3]:
def check_for_dests(df,check,vendor):
    df = df.dropna(how='all')
    df.loc[df.Destination=='Details','Destination'] = np.nan
    df = df.fillna(method="ffill")
    df_v = df[df.Vendor.isin(vendor)]
    df_v = df_v[df_v.Destination.isin(check)]
    return df_v

In [14]:
df = pd.read_excel(path+"Call_Analysis_2018-09-07_2018-09-07 (2).xlsx")

In [15]:
df.head()

,Destination,Prefix,Vendor,Target,TC,SC,Min,ACD,ASR,Blended
0,Pakistan - Mobile - Mobilink,9230.0,NaN,6,2258.0,234.0,918.11,03:55,"4,58",0.0228
1,Details,NaN,QUICKCOM STD FS 76,NaN,2143.0,132.0,462.26,03:30,"6,15",0.0228
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Details,NaN,ANTAKO STD FS 388,NaN,1569.0,88.0,376.42,04:16,"5,60",0.0230
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df.dropna(how='all')
df.loc[df.Destination=='Details','Destination'] = np.nan
df = df.fillna(method="ffill")
df_v = df[df.Vendor.isin(vendor)]
df_v = df_v[df_v.Destination.isin(check)]

In [17]:
df_v.head()

,Destination,Prefix,Vendor,Target,TC,SC,Min,ACD,ASR,Blended
22,Uzbekistan - Mobile - Ucell,99894.0,LEXICO STD FS 128,6,668.0,1.0,1.0,01:00,"0,14",0.032
55,Uzbekistan - Mobile - Beeline,99891.0,LEXICO STD FS 128,6,56.0,0.0,0.0,0,"0,00",0.033
89,Pakistan - Mobile - Telenor,9234.0,LEXICO STD FS 128,10,6.0,0.0,0.0,0,"0,00",0.025
157,Iran - Tehran,9821.0,LEXICO STD FS 128,4,12.0,0.0,0.0,0,"0,00",0.058
185,Iran,98.0,LEXICO STD FS 128,4,10.0,0.0,0.0,0,"0,00",0.058

In [12]:
df_v = df_v[df_v.Destination.isin(check)]

In [13]:
df_v

,Destination,Prefix,Vendor,Target,TC,SC,Min,ACD,ASR,Blended
22,Uzbekistan - Mobile - Ucell,99894.0,LEXICO STD FS 128,6,668.0,1.0,1.0,01:00,"0,14",0.032
55,Uzbekistan - Mobile - Beeline,99891.0,LEXICO STD FS 128,6,56.0,0.0,0.0,0,"0,00",0.033
89,Pakistan - Mobile - Telenor,9234.0,LEXICO STD FS 128,10,6.0,0.0,0.0,0,"0,00",0.025
157,Iran - Tehran,9821.0,LEXICO STD FS 128,4,12.0,0.0,0.0,0,"0,00",0.058
185,Iran,98.0,LEXICO STD FS 128,4,10.0,0.0,0.0,0,"0,00",0.058

In [7]:
vendor = ["LEXICO STD FS 128"]

In [8]:
check = ["Iran","Iran - Tehran","Pakistan - Mobile - Telenor","Uzbekistan - Mobile - Beeline","Uzbekistan - Mobile - Ucell"]

In [9]:
check_for_dests(df,vendor,check)

C:\Users\UMUT\Miniconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Empty DataFrame
Columns: [Destination, Prefix, Vendor, Target, TC, SC, Min, ACD, ASR, Blended]
Index: []

In [102]:
check_for_dests(df,vendor,check)

C:\Users\UMUT\Miniconda3\envs\py36\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Empty DataFrame
Columns: [Destination, Prefix, Vendor, Target, TC, SC, Min, ACD, ASR, Blended]
Index: []